<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="ru.radiationx.media.mobile.TestVideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />
    </application>
</manifest>